<header id="header-navbar" class="content-mini content-mini-full">
    <ul class="nav-header pull-left">
        @*@if (Identity.DepartmentId == 3)
            {*@
 
        <li class="hidden-xs hidden-sm">
            <button class="btn whitebtn" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        @*}*@
    </ul>
 
</header>